<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="text-center">Animals in group <%=@group.name%></h1>
      <% unless @animals.empty? %>
        <ul class="list-unstyled">
          <% @animals.each do |animal| %>
            <li>
              <div class="well row <%= cycle('white-bg','') %>">
                <div class="col-md-1 text-center">
                  <h4><%= animal.identifier%></h4>
                </div>
                <div class="col-md-1 text-center">
                  <h4><%= animal.species %></h4>
                </div>
                <div class="col-md-2 text-center">
                  <h4><%= animal.strain %></h4>
                </div>
                <div class="col-md-3 text-center">
                  <h4><%= animal.location %></h4>
                </div>
                <div class="col-md-2 text-center">
                  <h4><%= animal.status %></h4>
                </div>
                <div class="col-md-3 text-center">
                  <% if current_user.has_role?(:creator, @group) or current_user.has_role?(:admin, @group) or current_user.has_role?(:tech, @group) or current_user.groups.with_role(:admin, @group) %>
                    <%= link_to "Edit", group_animal_path(group_id: params[:group_id], animal_id: animal.id) %>
                  <% end %>
                  <% if current_user.has_role?(:creator, @group) or current_user.has_role?(:admin, @group) or current_user.has_role?(:tech, @group) or current_user.groups.with_role(:admin, @group) %>
                    <%= button_to "Delete", group_animal_path(group_id: params[:group_id], animal_id: animal.id), method: :delete, data: {confirm: "You sure?"}, class: 'btn btn-danger' %>
                  <% end %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      <% else %>
        <h3> There are no animals in this group. </h3>
      <% end %>
      <br/>
      <% if current_user.has_role?(:creator, @group) or current_user.has_role?(:admin, @group) or current_user.has_role?(:tech, @group) or current_user.groups.with_role(:admin, @group) %>
        <div class="text-center">
          <%= link_to "Add Animals to Group", new_group_animal_path, class: 'btn btn-success btn-lg' %>
        </div>
      <% end %>
    </div>
  </div>
</div>