<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center">Researchers in Group <strong><%=@group.name%></strong></h1>
      <p class="text-center">All created research groups.</p>
      <ul class="list-unstyled">
        <% @users.each do |user| %>
          <li>
            <div class="well row <%= cycle('white-bg','') %>">
              <% if user==@owner %>
                <h2>Owner</h2>
              <% end %>
              <h3><%= user.email %></h3>
            </div>
          </li>
        <% end %>
        <% if can? :update, @group %>
          <%= link_to "Add/remove users in group", edit_group_path(:id => @group.id), class: 'btn btn-primary btn-lg' %>
        <% end %>
        <% if current_user.groups.exists?( @group.id ) %>
          <%= button_to "Leave Group", remove_user_group_path(:id => @group.id, :user_id => current_user.id), data: { confirm: "Are you sure?" }, :method => :delete, class: 'btn btn-danger btn-lg' %>
        <% else %>
          <%= link_to "Join Group", add_user_group_path(:id => @group.id, :user_id => current_user.id), :method => :put, class: 'btn btn-primary btn-lg' %>
        <% end %>
      </ul>
    </div>
  </div>
</div>