<div class="fullscreen-bg">
  <%= video_tag "Dna.mp4", loop: true, muted: true, autoplay: true, poster: 'Dnaframe.png', class: 'fullscreen-bg__video' %>
</div>
<div class="home-callout container-fluid">
  <div class="container text-center">
    <div class="content">
      <h1><strong>Welcome to Velocity Laboratories</strong></h1>
      <h3>Helping out clients bring new pain relieving medicines to market sooner through innovative and accelerated preclinical testing.</h3>
    </div>
  </div>
</div>
<div class="container-fluid selection">
  <div class="container">
    <div class="row spacer">
    </div>
    <div class="row">
      <ul class="nav nav-pills nav-justified selector">
        <li class="active"><a data-toggle="pill" href="#monitoring">
          <i class="fa fa-camera-retro fa-2x" aria-hidden="true"></i>
          <h3>Monitoring</h3>
        </a></li>
        <li><a data-toggle="pill" href="#testing">
          <i class="fa fa-line-chart fa-2x" aria-hidden="true"></i>
          <h3>Testing</h3>
        </a></li>
      </ul>
    </div>
    <div class="row spacer2">
    </div>
  </div>
</div>
<div class="container-fluid services">
  <div class="row">
    <div class="tab-content">
      <div id="monitoring" class="tab-pane fade in active">
        <%= render 'monitoring' %>
      </div>
      <div id="testing" class="tab-pane fade">
        <%= render 'testing' %>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid sliders">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 text-center">
      <div class="banner">
      	<ul>
      		<li><%= image_tag 'slide1.gif', class:'home-slide' %></li>
      		<li><%= image_tag 'slide2.gif', class:'home-slide2' %></li>
      		<li><%= image_tag 'slide3.gif', class:'home-slide3' %></li>
      		<li><%= image_tag 'slide4.gif', class:'home-slide4' %></li>
      		<li><%= image_tag 'slide5.gif', class:'home-slide5' %></li>
      	</ul>
      </div>
    </div>
  </div>
</div>
