<div class="container home-signup-links">
  <div class="row">
    <% if user_signed_in? %>
      <div class="col-md-6">
        <div class="well">
          <h2 class="text-center">Your Profile</h2>
          <% if current_user.profile %>
            <%= link_to "Edit your profile", edit_user_profile_path(user_id: current_user.id), class: 'btn btn-default btn-lg btn-block' %>
            <%= link_to "View your profile", user_path(id: current_user.id), class: 'btn btn-default btn-lg btn-block' %>
          <% else %>
            <p class="text-center">Create your profile so that you can join a group.</p>
            <%= link_to "Create your profile", new_user_profile_path(user_id: current_user.id), class: 'btn btn-default btn-lg btn-block' %>
          <% end %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="well">
          <h2 class="text-center">You Research Group</h2>
          <p class="text-center">View contact info for your group</p>
          <%= link_to "View research group", users_path, class: 'btn btn-default btn-lg btn-block' %>
        </div>
      </div>
    <% else %>
      <div class="col-md-4">
        <div class="well">
          <h2 class="text-center">Basic Membership</h2>
          <h4 class="text-center">Sign up for free to purchase products or join existing groups.</h4>
          <br/>
          <%= link_to "Sign up with Basic", new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-primary btn-lg btn-block' %>
          <br/>
          <ul>
            <li>Purchase items in shop</li>
            <li>Join existing groups and organizations</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="well">
          <h2 class="text-center">Premium Membership</h2>
          <h4 class="text-center">Sign up for the premium account to create a group ($10/month).</h4>
          <br/>
          <%= link_to "Sign up with Premium", new_user_registration_path(plan: @group_plan.id), class: 'btn btn-success btn-lg btn-block' %>
          <br/>
          <ul>
            <li>Purchase items in shop</li>
            <li>Create a small group</li>
            <li>Regulate user access</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="well">
          <h2 class="text-center">Pro Membership</h2>
          <h4 class="text-center">Sign up for the organization account to create an organization ($100/month).</h4>
          <br/>
          <%= link_to "Sign up with Pro", new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-success btn-lg btn-block' %>
          <br/>
          <ul>
            <li>Purchase items in shop</li>
            <li>Create an organization</li>
            <li>Unlimited groups within organization</li>
            <li>Regulate group access to other groups within organization</li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="container home-plan-chart">
  <div class="row">
    <div class="col-md-6 col-offset-3">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th></th>
            <th>Basic</th>
            <th>Premium</th>
            <th>Pro</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Shop</td>
            <td><i class='fa fa-check'></i></td>
            <td><i class='fa fa-check'></i></td>
            <td><i class='fa fa-check'></i></td>
          </tr>
          <tr>
            <td>Join Group/Organizations</td>
            <td><i class='fa fa-check'></i></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
