<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="text-center">Animals in group <%=@group.name%></h1>
      <ul class="list-unstyled">
        <% @animals.each do |animal| %>
          <li>
            <div class="well row <%= cycle('white-bg','') %>">
              <div>
                <%= link_to group_animal_path(group_id: params[:group_id], animal_id: animal.id) do %>
                  <h2><%= animal.animal_type %> <%= animal.strain %> <%= animal.location %> <%= animal.status %></h2>
                <% end %>
                <div>
                <% if current_user.has_role?(:creator, @group) or current_user.has_role?(:admin, @group) or current_user.has_role?(:tech, @group) %>
                  <%= button_to "Remove Animal", group_animal_path(group_id: params[:group_id], animal_id: animal.id), method: :delete, data: {confirm: "You sure?"}, class: 'btn btn-danger' %>
                <% end %>
                </div>
              </div>
            </div>
          </li>
        <% end %>
        <br/>
        <% if current_user.has_role?(:creator, @group) or current_user.has_role?(:admin, @group) or current_user.has_role?(:tech, @group) %>
          <div class="text-center">
            <%= link_to "Add Animals to Group", new_group_animal_path, class: 'btn btn-success btn-lg' %>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>